<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z4">
        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" alt="No Image" />

        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>

        <button mat-button class="menu-button">
            <mat-icon>shopping_basket</mat-icon>
            <span>Products</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>timeline</mat-icon>
            <span>Reports</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
