<div class="container" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form form-horizontal">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput type="email" placeholder="pat@example.com" formControlName="email" required>
                    <mat-error class="text-danger"
                        *ngIf="(loginFormControl.email.touched || submitted) && loginFormControl.email.errors?.required">
                        Email is required
                    </mat-error>
                
                    <mat-error class="text-danger"
                        *ngIf="loginFormControl.email.touched && loginFormControl.email.errors?.email">
                        Enter a valid email address
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password" required>

                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="text-danger"
                        *ngIf="(loginFormControl.password.touched || submitted) && loginFormControl.password.errors?.required">
                        Password is required
                    </mat-error>
                    <mat-error class="text-danger"
                        *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.invalidPassword">
                        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                        letter and 1 number
                    </mat-error>
                </mat-form-field>
    
                <div fxLayoutAlign="space-around ">
                    <button type="submit" mat-raised-button color="primary" >
                        Login
                    </button>
              
                    <button mat-raised-button color="primary" type="reset" >
                        Cancel
                    </button>
                </div>
    
            </form>
        </mat-card-content>
    </mat-card>
</div>

<router-outlet></router-outlet>

